<?xml version="1.0" encoding="utf-8"?>
<manifest package="lugang.app.huansi.net.lugang"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".LuGangApplication"
        android:allowBackup="true"
        android:icon="@drawable/palang"
        android:label="@string/app_name"
        android:roundIcon="@drawable/palang"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".activity.MeasureCustomActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".activity.RemarkDetailActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name="com.androidyuan.lib.screenshot.ScreenShotActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:screenOrientation="landscape"
            android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name="huansi.net.qianjingapp.base.PermissionsActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:screenOrientation="landscape"
            android:name=".activity.CustomConfirmActivity">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".activity.NewMeasureCustomActivity">

        </activity>
    </application>

</manifest>